<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="gifs">
    <div class="container">
      <br>
      <br>
      <div class="jumbotron">
        <h1>Gif's R Us</h1>
        <br>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">🔍</span>
          <input class="form-control" placeholder="search" type="text" v-model="search" />
          <button v-on:click="fetchGif">Submit</button>
        </div>
      </div>
      <div>
        <img src="https://media.giphy.com/media/ZLxRWG0vhzpiE/giphy-downsized.gif" />
        <img v-bind:src="gifUrl" />

        <div v-for="gif in gifArray">
          <img v-bind:src=`${gif.images.fixed_height.url}` alt="gifs">
        </div>
      </div>
    </div>
  </div>

  <script src="./app.js"></script>

</body>

</html>