<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>First App</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Vue.js CDN -->
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div class="container">
    <div id="first-app">
      <br>
      <h1 v-if="first_name">Hello {{first_name}}</h1>
      <p v-html="vmHtml"></p>
      <h2 v-if="last_name">{{ full_name() }}</h2>
      <h2>{{ greet('Evening') }}</h2>

      <img v-on:click="alert()" v-bind:src="url"></img>
      <p>
        <a v-bind:href="url">link</a>
      </p>
      <label for="first_name">First Name</label>
      <input type="text" v-model="first_name">
      <br>
      <label for="first_name">Last Name</label>
      <input type="text" v-model="last_name">
    </div>
  </div>
  <script src="hello.js"></script>
</body>

</html>